@import vars
    
html
    font-size: 16px

body
    font-family: 'Raleway', sans-serif
    text-transform: uppercase

button
    border: none
    cursor: pointer
    color: white
    background-color: $orange
    transition: all .5s

    &:focus, &:hover
        background-color: $dark-orange
        outline: 0

a
    text-decoration: none

.container
    width: 90%
    margin: 0 auto
    padding: 40px 0

.number
    font: 500 4em 'Lato', sans-serif

.small
    font-size: .8rem


.left
    display: flex
    align-items: center

main, footer
    i
        margin-right: 5px
        font-size: 1.3rem